@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-corner {
  clip-path: polygon(
    0 0,
    0 calc(100% - 0px),
    calc(100% - 0px) 100%,
    100% calc(100% - 16px),
    100% 0,
    calc(100% - 16px) 0
  );
}

.marquee-wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  padding-right: 2rem;
}

@keyframes marquee-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-animate {
  animation: marquee-scroll 8s linear infinite;
}
